html, body {
  color: #310066;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.container {
  height: 100vh;
  width: 100vw;
}

.landingPage {
  height: 100%;
  width: 100%;
}

.kidsEventsPage,
.datingEventsPage {
  flex-direction: column;
  height: 100%;
  left: 0;
  position: relative;
  transition: left 500s;
  width: 50%;
}

.landingPageHead {
  width: 10em;
  font-size: 4em;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

.landingPageText {
  width: 20em;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  margin-bottom: 4em;
}

.pageColor {
  width: 50%;
}

.kidsEventsPage {
  color: #000;
}

.datingEventsPage {
  color: #fff;
  background-color: #0d001a;
}

.kidsEventsPage .btn {
  background-color: #cc0300;
}

.datingEventsPage .btn {
  background-color: #4d0099;
}

.btn {
  height: 4em;
  width: 20em;
}

.btn p {
  color: #fff;
  font-size: 3em;
  margin: 0;
}

.logo {
  font-size: 1.2em;
  margin-left: 2em;
}

.logoBox {
  color: #fff;
  font-family: 'Courgette', cursive;
  font-size: 0.2em;
  height: 8em;
  position: relative;
  width: 11em;
}

.e, .r {
  background-color: #8000ff;
  font-size: 8em;
  height: 50%;
  opacity: 0.8;
  position: relative;
  width: 34%;
}

.e {
  left: 22.5%;
  top: 14.5%;
}

.r {
  left: 27.5%;
  top: -14.5%;
}

.letters {
  background-color: transparent;
  opacity: 1;
}

.letterHolder {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.logoFinish {
  font-size: 0.6em;
  left: 1.48em;
  position: absolute;
  top: 0.4em;
}

.nav {
  /*background-color: #5C00BB;///////////////////////////////////////////////*/
  background-color: #190033;
  height: 11vh;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.menu {
  font-size: 1em;
  justify-content: space-between;
  margin-right: 6em;
  width: 26em;
}

.menuOption {
  transition: font-size 0.25s;
}

.menuOption:hover, .menuHighlight {
  font-size: 1.6em;
}

.menuOption {
  color: #000;
  left: -5em;
  position: relative;
}

.menuOptionLast {
  color: #FFF;
  left: 0em;
  position: relative;
}

.purpleText {
  color: #4d0099;
  font-size: 1.8em;
}

.purpleLetter {
  background-color: #4d0099;
  color: #fff;
  font-size: 1em;
  padding: 0 0.1em;
}

.changingbackground {
  align-items: center;
  height: 90vh;
  position: absolute;
  top: 10vh;
  width: 70vw;
  z-index: -1;
}

.liner {
  left: 70vw;
  width: 30vw;
}

.colorBoxHolder {
  flex-wrap: wrap;
  height: 78vh;
  opacity: 0.4;
  width: 78vh;
}

.colorBox {
  height: 20%;
  opacity: 0.2;
  transition: background-color 1s;
  width: 20%;
}

.intro {
  height: 540vh;
  justify-content: space-between;
  position: relative;
  top: 10vh;
  width: 100vw;
  z-index: 0;
}

.intro .action {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  position: relative;
  top: 0vh;
  transition: top 2s;
  width: 70vw;
}

.pages {
  flex-direction: column;
  height: 100%;
}

.businessName {
  font-style: italic;
}

.intro p {
  /*font-size: 8em;*/
  /*font-size: 2em;*/
  text-align: center;
  transition: font-size 1s;
  z-index: 5;
}

.pageTitle {
  align-self: flex-start;
  font-size: 5em;
  margin: 0 0 0.1em 0;
  z-index: 5;
}

.pageBody {
  align-self: flex-start;
  flex-direction: column;
  font-size: 1.6em;
  margin: 0 0 1em 0;
  width: 50vw;
  z-index: 5;
}

.hometext {
  font-size: 5rem;
}

/*.hometext:hover {
  font-size: 7rem;
}*/

.picSection {
  background-color: #470091;/*///////////////////////////////////////////////*/
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 0vh;
  transition: top 2s;
  width: 30vw;
}

.picSection .pic {
  background-size: 100% 100%;
  height: 100%;
  /*opacity: 0.2;////////////////////////////////////////////////////////////*/
  opacity: 0.4;
  width: 30vw;
}

.contactPageBody {
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: column;
  margin-top: 2em;
}

.c-icon {
  font-size: 1.4em;
  margin: 0.2em 0;
}

.contact-icon {
  height: 1em;
  margin-right: 0.4em;
  width: 1em;
}

.picOne {
  background-image: url("../img/one.jpg");
}

.picTwo {
  background-image: url("../img/two.jpg");
}

.picThree {
  background-image: url("../img/three.jpg");
}

.picFour {
  background-image: url("../img/four.jpg");
}

.picFive {
  background-image: url("../img/five.jpg");
}

.picSix {
  background-image: url("../img/six.jpg");
}

.picOneKid {
  background-image: url("../img/kid1.png");
}

.picTwoKid {
  background-image: url("../img/kid2.png");
}

.picThreeKid {
  background-image: url("../img/kid3.png");
}

.picFourKid {
  background-image: url("../img/kid4.png");
}

.picFiveKid {
  background-image: url("../img/kid5.png");
}

.picSixKid {
  background-image: url("../img/kid6.png");
}

/*EVENT PAGE*/
.eventPageBody {
  flex-direction: column;
  position: relative;
  top: 0px;
  transition: top 1s;
}

.eventPreview {
  color: #fff;
  width: 40em;
}

.eventHeading {
  background-color: #8000ff;
  height: 5em;
}

.eventDetailsBox {
  background-color: #190033;
  height: 78vh;
  width: 78vh;
}

.eventTitle {
  background-color: #4d0099;
  font-size: 1.8em;
  height: 100%;
  width: 50%;
}

.events {
  height: 100%;
  width: 50%;
}

.event {
  flex-direction: column;
  height: 5em;
  width: 33.34%;
}

/*.event:hover {
  height: 6em;
  transition: height 0.5s, width 0.5s;
  width: 36%;
}*/

.event p {
  margin: 0;
}

.firstBox {
  background-color: #0000e6;
}

.secondBox {
  background-color: #7a1f5c;
}

.thirdBox {
  background-color: #ff8080;
}

.date {
  font-size: 1.4em;
}

.eventDetails {
  background-color: #5C00BB;
/*   background-color: #000; */
  flex-direction: column;
  height: 25em;
  width: 100%;
}

.eventDetails p {
  font-size: 1.3em;
  width: 26em;
}

.contactText {
  margin: 1em 0 0 0;
  width: 12em;
}

/*KIDS PAGE CUSTOMIZATIONS*/
.kids .purpleLetter {
  background-color: #cc0300;
}

.kids .e,
.kids .r {
    background-color: #cc0300;
}

.kids .letterHolder .e,
.kids .letterHolder .r {
  background-color: transparent;
}

.kids {
  color: #cc0300;
}

.kids .nav {
  background-color: #ff4f4d;
}

.kids .purpleText,
.kids .pageTitle {
  color: #ff6462;
}

.kids .eventTitle {
  background-color: #ff6462;
}

.kids .menuOption {
  color: #ff4f4d;
}

.kids .picSection {
  background-color: #ff8280;
}

/*MEDIA QUERY*/

@media (max-hieght: 850px) {
  .colorBoxHolder {

  }
}

@media (max-width: 1340px) {
  .intro .action {
    width: 100vw;
  }
  .picSection {
    display: none;
  }
}

@media (max-width: 1140px) {
  body {
    overflow: scroll;
  }
  .hometext {
    font-size: 4em;
  }
  .changingbackground,
  .menu,
  .eventTitle {
    display: none;
  }
  .eventPreview {
    width: 90%;
  }
  .events {
    width: 100%;
  }
  /*SCROLLBAR STYLNG*/
  ::-webkit-scrollbar {
  	width: 0px;
  }

  ::-webkit-scrollbar-thumb {
  	background-color: #000;
  }
  /*SCROLLBAR STYLNG END*/
  .evenPage {
    background-color: hsl(269, 100%, 96%);
    /*background-color: #190033;*/
    background-color: #25004d;
    color: #fff;
  }

  .kids .evenPage{
    background-color: #e60400;
    color: #fff;
  }
  .pages {
    width: 100%;
  }
  .pageTitle,
  .pageBody,
  .contactPageBody {
    align-self: center;
  }



  body {
    font-size: 2.3em;
  }

  .pageBody {
    margin: 1em 0 1em 0;
    width: 84%;
  }
  .hometext {
    width: 4em;
  }
  .pageBody {
    display: block;
    font-size: 1.3em;
    margin: 0 auto;
  }
  .eventPreview {
    margin-top: 1em;
  }
  .logoBox {
    height: 18em;
    width: 20em;
  }

}

@media (max-width: 900px) {
  body {
    font-size: 1em;
  }
  .hometext {
    font-size: 3em;
  }
  .pageBody {
    font-size: 1.2em;
    margin: 1em 0 1em 0;
  }
  .event p {
    font-size: 1em;
  }
  .logoBox {
    height: 8em;
    width: 11em;
  }
}

@media (max-width: 690px) {
  .hometext {
    width: 8em;
  }
  .pageTitle {
    font-size: 4em;
  }
  .pageBody {
    display: block;
    margin: 0 auto;
    width: 14em;
  }
  .eventPreview {
    margin-top: 1em;
  }
}
